<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.parking.com.parkingapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoginScreen" />
        <activity
            android:name=".view.UserProfileScreen"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".usermodel.navigationDrawer.UserNavigationDrawerActivity" />
        <activity
            android:name=".usermodel.home.VehicleDetailsScreen"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".usermodel.home.OrderDetailsScreen"
            android:label="@string/title_activity_order_details_screen"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".usermodel.home.OrderConfirmation"
            android:label="@string/title_activity_order_confirmation"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".view.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".usermodel.bookinghistory.BookingHistoryDetailScreen"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".appIntroduction.WelcomeScreen" />
        <activity
            android:name=".usermodel.home.FlightDetailsScreen"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".usermodel.home.AddServicesScreen" />
        <activity android:name=".usermodel.home.SelectPaymentScreen" />
        <activity android:name=".usermodel.home.OrderAmountScreen" />
        <activity android:name=".usermodel.home.CreditCardScreen" />
        <activity
            android:name=".usermodel.home.ServicesScreen"
            android:label="@string/title_activity_services_screen"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        </activity>
        <activity
            android:name=".drivermodel.navigationDrawer.DriverNavigationDrawerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".drivermodel.VehicleInspectionScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        </activity>
        <activity
            android:name=".drivermodel.CustomerComments"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".drivermodel.captureImage.CapturePicture">

        </activity>
        <activity android:name=".drivermodel.captureImage.ShowFullSnapShotOnGUI"></activity>
        <activity android:name=".drivermodel.captureImage.ShowingSnapshotScreen">


        </activity>
    </application>

</manifest>
